html{
    scroll-behavior: smooth;
}
body{
    background:#252525;
    font-family: "Baloo Tamma 2", cursive;
}
/* Main Heading Font */
.m-heading{
    font-family: "Roboto Slab",serif;
}
.text-white{
    color: white;
}
/* main container height */
.main-container{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('faris2.png');
    /* background-attachment:fixed; */
    background-size:cover;
    background-repeat:no-repeat;
}
/* aligning items in main row */
.main-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* changing name forn size */
.main-row h1 {
    font-size: 5rem;

}
/* making the main image the size of the screen */
.main_row img{
    width: auto;
    height: 100vh;
}
/* About Section */
.about{
    background:#313552;
    border-radius: 0.5rem;
}
.card{
    border-bottom: 8px solid #f5ba09;
}
/* Social Media Section */
#social-media{
    background: #313552;
}
/* Add color to social media links */
.media_link{
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid #f5ba09;
    border-radius: 0.5rem;
}
